/* Stili Base */
body {
  background-color: #b91450;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.darkmode {
  background: rgb(0,34,51);
  background: radial-gradient(circle, rgba(0,34,51,1) 0%, rgba(0,0,0,1) 100%);
}

i {
  color: gray;
}


h2 {
  padding-left: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  margin: 20px 0;
  padding: 0;
}

h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

h5 {
  font-weight: bold;
}
/* Fine Stili Base */

/* Stile toggle */
.fa-sun:hover {
  cursor: pointer;
  color: white;
}
/* Fine Stile toggle */

/* Stile input darkmode */
.inputdark {
  border: 1px solid #002233;
  display: block;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.inputdark:focus {
  background-color: rgb(0,34,51);
}
/* Fine Stile input darkmode */

/* Stile input vari */
.customstyle {
  display: block;
  margin: auto;
  border: 1px solid #b91450;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

input:focus,
select:focus {
  background-color: #b91450;
  color: white;
}
/* Stile input vari */

/* Wrapper */
.form-wrapper {
  margin: auto;
  width: 90%;
  background-color: white;
  padding: 25px 0;
}

.darkwrapper {
  background-color: #002233;
}
/* Fine Wrapper */

/* Wrapper rounded */
.form-wrapper.rounded {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border-radius: 15px;
}
/* Fine Wrapper rounded */

/* Container Fluid */
.container-fluid {
  width: 100%;
}
/* Fine Container Fluid */

/* Wrapper Buttons */
.wrapper-buttons {
  padding: 40px 0 10px;
  margin: auto;
}
/* Fine Wrapper Buttons */

/* Stili Buttons */
.btn-style {
  font-weight: bolder;
  margin: 0 5px;
  border: 1px solid #8c8c8c;
  padding: 4px 8px;
  border-radius: 5px;
  color: #b91450;
  background-color: #d1d1d1;
}

.btn-style:hover {
  color: white;
  background-color: #8b8b8b;
}
/* Fine Stili Buttons */

/* Row Bordered */
.row-bordered {
  border: 1px solid gray;
}
/* Fine Row Bordered */

/* BG Color prima colonna */
.col-gray {
  background-color: gray;
}
/* Fine BG Color prima colonna */

/* Classe invisibilità */
.hidden {
  display: none;
}
/* Fine Classe invisibilità */

/* Classe visibilità */
.visible {
  display: block;
}
/* Fine Classe visibilità */
